html,
body {
  margin: 0;
  background-color: #2f4f30 !important;
  color: #fff !important;
}

.title {
  text-align: center;
  background-color: black;
  color: #fff;
  padding: 20px;
  font-size: 25px;
}
.button-game {
  width: 200px;
}
.img-card {
  position: relative;
  width: 150px;
  left: 100px;
  margin-left: -75px;
}
.row-game {
  height: 300px;
}
